/* Give your page a fun background color */
body{
    background-color:rgb(190, 127, 248);

}

/* Make the header and footer a different color from the background */
header{
    background-color: lightslategray;
}
footer{
    background-color:rgb(112, 242, 242);
}

/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
}

/* Make your p tag a different color and italic */
 p{
    font-style:italic;
    color: rgba(251, 114, 46, 0.893);
 }

/* Put a border around your image */
img{
    border: 10px solid;
    border-color: white;
    border-radius: 5px;
}
/* Change the font-family of your list */
ul{
    font-family: Arial, 'Times New Roman';
}