/* Give your page a fun background color */
body{
    background-color: slategray;
    padding: 0;
    margin: 0;

}

/* Make the header and footer a different color from the background */
header{
    background-color: lightslategray;
    padding: 12px 32px;
    margin: 0;
    
}
footer{
    background-color:rgb(17, 67, 67);
    padding: 12px 36px;
    text-align: center;
}

/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
    color: white;
}

/* Make your p tag a different color and italic */
p{
    font-style:italic;
    color: rgba(255, 255, 255, 0.893);
 }

/* Put a border around your image */
img{
    border: 10px solid;
    border-color: white;
    border-radius: 5px;
    
}
/* Change the font-family of your list */
ul{
    font-family: Arial, 'Times New Roman';
    color: white;
    text-align: center;
}